.mycalculator {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid black;
}

.mycalculator .mathoperations button {
    height: 40px;
    width: 40px;
    margin: 20px;
}
.mycalculator .inputfields .inputfield {
    display: inline-block;
    padding: 10px;
}
.mycalculator .inputfields .inputfield label {
    display: block;
}
